<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome</title>
    <style>
        .btn-color {
            background-color: #CCCCFF;
            color: #000080;

        }

        .profile-image-pic {
            height: 200px;
            width: 200px;
            object-fit: cover;
        }



        .cardbody-color {
            background-color: #ebf2fa;
            border-radius: 5px;
        }

        a {
            text-decoration: none;
        }
        .container{
            margin-top: 2.5rem;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card my-5">

                    <form class="card-body cardbody-color p-lg-5">

                        <div class="text-center">
                            <h1><i class="fa fa-users" aria-hidden="true"></i></h1>
                            <p>Create an account or login</p>
                        </div>
                        <a href="/users/Signin" class="btn btn-color px-5 mb-5 w-100 text-center">Register</a>
                        <!-- <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Register</button></div> -->

                        <a href="/users/Login" class="btn btn-color px-5 mb-5 w-100 text-center">Login</a>
                        <!-- <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Login</button></div> -->
                        <div class="text-center mt-5 text-muted">
                            <h6>FAST NUCES</h6>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>