body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2013/10/21/09/57/hostel-198945_1280.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%
}

h3 {
    color: aliceblue;
}

label {
    color: whitesmoke;
    font-weight: lighter;
}

input::placeholder {
    color: rgb(4, 5, 6);
}

.card {
    padding: 10px 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
        /* background-color: chartreuse; */
}

.blue-text {
    color: #00BCD4
}

.form-control-label {
    margin-bottom: 0
}

input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.btn-block {
    color: aliceblue;
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer
}

.btn-block:hover {
    color: rgb(11, 208, 234) !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}